body{
    background-color: #010206;
    margin:0px;
    padding:0px;
    font-family:sans-serif;
  }

  /* CURSOR */
.homecontainer{
  cursor:none;
}
.homecontainer .home a{
  cursor:none;
}
.cursor {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  mix-blend-mode: difference;
  pointer-events: none;
}
/* --------------- */


.muzieknootjes {
  color: white;
  display: block;
  margin: auto;
  position: absolute;
  top: -23px;
  left: 10%;
  width: 50%;
  height: 10%;
  min-width: 300px;
  border: 0px solid #000;
  z-index: -1;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4,
.noot-5{
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 50px;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 70px;
  left: 90%;
  animation-delay: 2s;
}
.noot-5 {
  top: 50px;
  left: 75%;
  animation-delay: 3s;
}
@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
/* ------------------------------- */


h6 {
  font-family: auto;
  font-size: inherit;
}
#bgVideo {
    -webkit-filter: blur(6px);
}
#logo{
    width: 75px;
    height: 75px;
}

a:hover,a:active{
	text-decoration:none;
}
.home{
    width: 95%;
    z-index: 1000;
    position: absolute;
    /* top: 20%;
    left: 5%; */
}
.home:before{
	content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
}
.home h3{
  position: absolute;
  font-size: 74px;
  text-align: left;
  color: #ffffff;
  left: 11%;
  top: 24%;
  font-weight: 700;
}

.stage{
	width: auto;
	margin-top: 15px;
    height: 100px;
  }
  .cubespinner{
	-webkit-animation-name:spincube;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
	animation-name:spincube;

	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:8s;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transform-origin:40px 40px 0;
	-moz-transform-origin:40px 40px 0;
	-ms-transform-origin:40px 40px 0;
	transform-origin:40px 40px  0;
  }
  .cubespinner div{
	  position:absolute;
	  /* width:400px;
	  height:80px; */
	  text-align:left;
	  color:#ffffff;
	  font-family:'Raleway', sans-serif;
	  font-size:100px;
	  font-weight:700;
	  }
  .cubespinner .face1{
	  color:#ffffff;
	  -webkit-transform:translateZ(40px);
	  -moz-transform:translateZ(40px);
	  -ms-transform:translateZ(40px);
	  transform:translateZ(40px);
	  -webkit-backface-visibility: hidden;
	  }
	.cubespinner .face2{
		color:#ffffff;
		-webkit-transform: rotateX(90deg) translateZ(40px);
		-moz-transform: rotateX(90deg) translateZ(40px);
		-ms-transform: rotateX(90deg) translateZ(40px);
		transform: rotateX(90deg) translateZ(40px);
		-webkit-backface-visibility: hidden;
	}
	.cubespinner .face3{
		color:#ffffff;
		-webkit-transform:rotateX(180deg)  translateZ(40px);
		-moz-transform:rotateX(180deg)  translateZ(40px);
		-ms-transform:rotateX(180deg)  translateZ(40px);
		transform:rotateX(180deg)  translateZ(40px);
		-webkit-backface-visibility: hidden;
		}
	.cubespinner .face4{
		color:#fff;
		-webkit-transform:rotateX(270deg) translateZ(40px);
		-moz-transform:rotateX(270deg) translateZ(40px);
		-ms-transform:rotateX(270deg) translateZ(40px);
		transform:rotateX(270deg) translateZ(40px);
		-webkit-backface-visibility: hidden;
	}


/*Cubical Flipping or rotation*/
@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    15%      { -webkit-transform: rotateX(90deg);}
    25%      { -webkit-transform: rotateX(90deg);}
    40%      { -webkit-transform: rotateX(180deg);}
    50%      { -webkit-transform: rotateX(180deg);}
    65%      { -webkit-transform: rotateX(270deg);}
	75%      { -webkit-transform: rotateX(270deg);}
	95%      { -webkit-transform: rotateX(360deg);}
	100%      { -webkit-transform: rotateX(360deg);}
  }@keyframes spincube {
    from,to {
	  -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    15% {
	  -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
	25% {
	  -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
	40% {
	  -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
	50% {
	  -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
    65% {
	  -webkit-transform: rotateX(270deg);
      -moz-transform: rotateX(270deg);
      -ms-transform: rotateX(270deg);
      transform: rotateX(270deg);
    }
	75% {
	  -webkit-transform: rotateX(270deg);
      -moz-transform: rotateX(270deg);
      -ms-transform: rotateX(270deg);
      transform: rotateX(270deg);
    }
	90% {
	  -webkit-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
    100% {
	  -webkit-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -ms-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
}
.slogan {
    position: relative;
    margin-top: 4rem;
}
#slogan_area {
    width: 80%;
    position: relative;
}
.card{
  background-color: #282828;
  border-radius: 21px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  margin-top: 1rem;
}
.card:hover{
  box-shadow: 5px 5px 9px #d9d9d96e, -2px -2px 9px #5882ff;
}
.card-title{
  color: #ffffff;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: 1;
}
.track_container{
	position: relative;
  width: 99%;
  top: 8rem;
  justify-content: center;
}
.cover_img {
  position: relative;
  width: 70;
  height: 70;
  top: 25;
  object-fit: cover;
  left: 30px;
}
.cover_img_track{
  position: relative;
  width: 100;
  height: 100;
  top: 7.5;
  object-fit: cover;

}
.authorname{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffffab;
  font-size: 12px;
}
.listplayer{
  width: 90%;
  height: 2rem;
}
.gridplayer{
  width: 90%;
  height: 2rem;
}
.card-body{
  position: relative;
  left: 0;
  font-family: serif;
  word-break: break-word;
}
.card-body-track{
  position: relative;
  left: 0;
}
.trackcontainer {
  position: relative;
  top: 8rem;
  max-width: 98%;
}
.cardtrack{
  color: #ffffff;
  height: auto;
  /* box-shadow: 5px 5px 9px #d9d9d96e, -2px -2px 9px #58ff77; */
}
.cardtrack:hover{
  box-shadow: none;
}
.picon{
  position: relative;
  border-radius: 3px;
  width: max-content;
  font-size: 1.5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.picondiv{
  display: flex;
  justify-content: center;
}
.listenherecard{
  background-color: #8000ffba;
  height: auto;
  text-align: center;
}

.followherecard{
  background-color: #0181fbe8;
  height: auto;
  text-align: center;
}
.lyricscard{
  height: auto;
}
.lyrics a{
  color: #ffffff;
  font-family: monospace;
}
.lyrics{
  color: #ffffff;
  font-family: fangsong;
}
#mainNav.is-fixed {
  position: fixed;
  top: -103px;
  transition: transform 0.2s;
  border-bottom: 1px solid white;
  background-color: #010206;
}
#mainNav.is-fixed .navbar-nav > li.nav-item > a {
  color: #ffffff;
}
.lyricscard-body {
  left: 0;
}
a {
  color: inherit;
}
.trackbodyarealist{
  left: 3rem;
}
.buy a svg{
  height: 3rem;
}
.buy a svg:hover{
  color: #5d01bc;
  background:linear-gradient(to right top, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}
.profile_name{
  text-align:center;
}
.prof_tracks{
  height: auto;
}
.prof_cover_img{
  position: relative;
  width: 70;
  height: 70;
  top: 11px;
  object-fit: cover;
  left: 30px;
}
.statbox{
  background-color: #ff1a1ac4;
  height: auto;
  text-align: center;
  color: #ffffff;
}
.statbox:hover{
  box-shadow:none;
}
.buttonsbar_container{
  text-align: center;
  font-size: 1rem;
}

.buttonsbar_card{
  height: 5rem;
  display: flex;
  justify-content: center;
}
.buttonsbar_card:hover{
  box-shadow: none;
}
.listbutton{
  color: #ffffff;
  padding: 0.1rem;
  width: 2rem;
}
.listbutton:hover{
  color: #ffffffb3;
}
.gridbutton{
  padding: 0.1rem;
  color: #ffffff;
  width: 2rem;
}
.gridbutton:hover{
  color: #ffffffb3;
}
.gridplayer{
  width: 100%;
  height: 2rem;
}
.gridview{
  width: 100%;
  height: auto;
}
.gridcover{
  display: flex;
  justify-content: center;
}
.gridcover img{
  position: relative;
  width: 200;
  height: 200;
  top: 25;
  object-fit: cover;
}
.listbutton{
  display: none;
}
.gridcontainer{
  display: none;
}
.listview {
  width: 95%;
}

.navtoggler {
  position: relative;
  left: 0rem;
}
nav#mainNav {
  cursor: none;
}
.proftrackcontainer {
  position: relative;
}
.listviewprofile{
  width: 94%;
  left: .6rem;
}
.profcontainer{
  position: relative;
  top: 8rem;
  max-width: 94%;
  left: .6rem;
}
footer {
  z-index: 1000;
  background-color: #000000;
  position: relative;
  top: 100%;
  border-top: 1px solid #ffffff;
  cursor: none;
}