{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="trackcontainer">
    <div class="row gutters-sm">
        <div class="col-md-3 mb-3">
        <div class="card cardtrack">
            <div class="card-body-track">
            <div class="d-flex flex-column align-items-center text-center">
                {% if album.cover %}
                    <img class="rounded-circle cover_img_track" src="{{ album.cover.url }}" >
                {% else %}
                    <img class="rounded-circle cover_img_track" src="{% static 'images/disc.png' %}" ><br/>
                {% endif %}
                
                <div class="mt-3">

                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-9">
            <div class="card cardtrack mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h6 class="mb-0">Ad :</h6>
                            <div class="col-8"></div>
                        </div>
                        <div class="col-8">
                            {{album}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="mb-0">Reper :</h6>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'profile' album.author %}">{{album.author}} </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="mb-0">Buraxılış tarixi :</h6>
                        </div>
                        <div class="col-8">
                            {{album.created_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if album.spotify_link or album.apple_music_link or album.youtube_link or album.tidal_link or album.amazon_link or album.soundcloud_link or album.youtube_music_link or album.deezer_link or album.qobuz_link or album.napster_link or album.yandex_music_link%}
        <div class="col-md-3">
            <div class="card cardtrack listenherecard mb-3">
                <div class="card-body listenherecard-body ">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="mb-0">Buradan Dinlə</h6>
                        </div>
                    </div>
                    <div class="row">
                        {% if album.spotify_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.spotify_link}}" target="_blank"><i class="fa-brands fa-spotify"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.apple_music_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.apple_music_link}}" target="_blank"><i class="fa-brands fa-apple"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.youtube_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.youtube_link}}" target="_blank"><i class="fa-brands fa-youtube"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.tidal_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.tidal_link}}" target="_blank"><svg class="icon jsx-599705376" viewBox="0 0 24 24" style="margin: 0px 0px 0px -3.2px; fill: currentcolor; color: currentcolor; width: 2rem; height: 2rem;"><path d="M4 4 0 8l4 4 4-4-4-4zm8 0L8 8l4 4 4-4-4-4zm8 0 4 4-4 4-4-4 4-4zM8 16l4 4 4-4-4-4-4 4z"></path></svg></a></h6>
                        </div>
                        {% endif %}
                        {% if album.amazon_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.amazon_link}}" target="_blank"><i class="fa-brands fa-amazon"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.soundcloud_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.soundcloud_link}}" target="_blank"><i class="fa-brands fa-soundcloud"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.youtube_music_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.youtube_music_link}}" target="_blank"><i class="fa-regular fa-circle-play"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.deezer_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.deezer_link}}" target="_blank"><i class="fa-brands fa-deezer"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.qobuz_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon" title="Qobuz"><a href="{{album.qobuz_link}}" target="_blank"><svg class="icon jsx-599705376" viewBox="0 0 24 24" style="margin: 0px 0px 0px 0.03em; fill: currentcolor; color: currentcolor; width: 2rem; height: 2rem;"><path d="M21.744 9.815C19.836 1.261 8.393-1 3.55 6.64-.618 13.214 4 22 11.988 22c2.387 0 4.63-.83 6.394-2.304l2.252 2.252 1.224-1.224-2.252-2.253c1.983-2.407 2.823-5.586 2.138-8.656zm-3.508 7.297L16.4 15.275c-.786-.787-2.017.432-1.224 1.225L17 18.326C10.29 23.656.5 16 5.16 7.667c3.502-6.264 13.172-4.348 14.707 2.574.529 2.385-.06 4.987-1.63 6.87z"></path><path d="M13.4 8.684a3.59 3.59 0 0 0-4.712 1.9 3.59 3.59 0 0 0 1.9 4.712 3.594 3.594 0 0 0 4.711-1.89 3.598 3.598 0 0 0-1.9-4.722zm-.737 3.591a.727.727 0 0 1-.965.384.727.727 0 0 1-.384-.965.727.727 0 0 1 .965-.384.73.73 0 0 1 .384.965z"></path></svg></a></h6>
                        </div>
                        {% endif %}
                        {% if album.napster_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.napster_link}}" target="_blank"><i class="fa-brands fa-napster"></i></a></h6>
                        </div>
                        {% endif %}
                        {% if album.yandex_music_link %}
                        <div class="col-3 mt-2 picondiv">
                            <h6 class="mb-0 picon"><a href="{{album.yandex_music_link}}" target="_blank"><i class="fa-brands fa-yandex-international"></i></a></h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-3">
        </div>
        {% endif %}
        {% if album.music_producer or album.executive_producer or track.cover_designer %}
            <div class="col-md-9">
                <div class="card cardtrack mb-3">
                    <div class="card-body ">
                        {% if album.music_producer %}
                        <div class="row">
                            <div class="col-4">
                                <h6 class="mb-0">Musiqi prodüsseri :</h6>
                                <div class="col-8"></div>
                            </div>
                            <div class="col-8">{{album.music_producer}}</div>
                        </div>
                        {% endif %}
                        {% if album.executive_producer %}
                        <div class="row">
                            <div class="col-4">
                                <h6 class="mb-0">İcraçı prodüsser :</h6>
                            </div>
                            <div class="col-8">
                                {{album.executive_producer}}
                            </div>
                        </div>
                        {% endif %}
                        {% if album.cover_designer %}
                        <div class="row">
                            <div class="col-4">
                                <h6 class="mb-0">Cover dizayner :</h6>
                            </div>
                            <div class="col-8">
                                {{album.cover_designer}}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-md-9">
        </div>
        {% endif %}
        {% if album.amazon_buy_link or album.itunes_buy_link or album.youtube_link%}
            <div class="col-md-3">
                <div class="row">
                    {% if album.amazon_buy_link or album.itunes_buy_link%}
                    <div class="col-12">
                        <div class="card cardtrack listenherecard mb-3">
                            <div class="card-body listenherecard-body ">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="mb-0">Buradan əldə et :</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    {% if album.amazon_buy_link %}
                                    <div class="col-6 mt-2 picondiv">
                                        <h6 class="mb-0 picon buy"><a href="{{album.amazon_buy_link}}" target="_blank"><i class="fa-brands fa-amazon"></i></a></h6>
                                    </div>
                                    {% endif %}
                                    {% if album.itunes_buy_link %}
                                    <div class="col-6 mt-2 picondiv">
                                        <h6 class="mb-0 picon buy"><a href="{{album.itunes_buy_link}}" target="_blank"><i class="fa-brands fa-itunes"></i></a></h6>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if album.youtube_link %}
                    <div class="col-12">
                        <div class="card statbox mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <i style="height: 30;" class="fa-brands fa-youtube"></i>
                                    </div>
                                    <div class="col-12">
                                         {{views}} <i class="fa-solid fa-eye"></i>
                                    </div>
                                    <div class="col-12">
                                         {{likes}} <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-md-3">
            </div>
        {% endif %}
        <div class="col-md-9" style="color:#ffffff">
            <div class="row gutters-sm proftrackcontainer">
            {% for track in tracks %}
                <div class="card listviewprofile">
                    <a href="{% url 'track' track.pk %}">
                        <div class="row">
                            <div class="col-2 col-x-2 col-sm-2 col-lg-1">
                                {% if track.cover %}
                                <img class="rounded-circle cover_img" src="{{ track.cover.url }}" >
                                {% else %}
                                <img class="rounded-circle cover_img" src="{% static 'images/disc.png' %}" ><br/>
                                {% endif %}
                            </div>
                            <div class="col-8 col-sm-10 col-lg-11">
                                <div class="card-body trackbodyarealist">
                                    <h5 class="card-title">{{track.name}}</h5>
                                    <h6 class="authorname">{{track.author}}</h6>
                                    <audio controls controller class="listplayer" src="{{track.demo.url}}">
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
         </div>
        {% if album.about %}
        {% endif %}
        
    </div>
</div>

{% endblock%}