<div class="cursor"></div>
{% extends 'base.html'%}
{% load static %}
{% block content %}
<div  class="home">
<link rel="icon" type="image/icon" href="static/logo.png" />
<script type="text/javascript">
        $(document).ready(function(){
            const cursor = document.querySelector('.cursor');
            document.addEventListener('mousemove', e => {
                cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
            })

            document.addEventListener('click', () => {
                cursor.classList.add("expand");

                setTimeout(() => {
                    cursor.classList.remove("expand");
                }, 500)
            })

        });
{% comment %} && win.width() >= 575 {% endcomment %}
        var Winsize = function(){
            var win = $(window);
            if (win.width() <= 767 ) {
                $('#bgVideo').css('width', '22rem')
            }
            else {
                $('#bgVideo').css('width', '100%')
            }
        }
        $(window).resize(Winsize);  
        $(document).ready(Winsize); 
</script>


<div class="homecontainer">
    <div  class="videocontainer">
        <video id="bgVideo" preload="true" autoplay loop muted src="{% static '/video/bgvid.mp4' %}"> </video>
    </div>
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 id="resizing-h3">
            <span id="slogan_area">
                    <div class="stage">
                        <div class="cubespinner">
                            <div class="face1">140</div>
                            <div class="face2">Vibes</div>
                            <div class="face3">140</div>
                            <div class="face4">Vibes</div>
                        </div>
                    </div>
                    <div class="slogan">Record label based in Baku, Azerbaijan</div>
            </span>
        </h3>
    </div>

</div>
</div>
{% endblock%}