{% extends 'base.html'%}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<script src="{% static 'js/home.js'%}"></script>
<link href="{% static  'css/home.css'%}" rel="stylesheet"/>

<div class="cont">
	<div class="slider"></div>
	<ul class="navslide"></ul>
	<div data-target='right' class="side-nav side-nav--right"></div>
	<div data-target='left' class="side-nav side-nav--left"></div>
</div>
{% for artist in artists%}
    <p id="artist_{{artist.id}}" hidden>{{artist}}</p>
    <p id="artist_img_{{artist.id}}" hidden>{{artist.profile_pic}}</p>
{% endfor %}
    <p id="artists_ids" hidden>{{ids}}</p>
{% endblock content %}
