{% load static %}
<link href="{% static  'css/navbar.css'%}" rel="stylesheet" />
<script src="{% static 'js/navbar.js'%}"></script>

<script>
    $( document ).ready(function() {
        $( ".menu" ).hide();
        $(".hamburger").click(function(){
            $(this).toggleClass("is-active");
            if ($( ".menu" ).hasClass( "expanded" )){
                    $( "#logo" ).show()
                    $( ".menu" ).removeClass( "expanded" );
                }
                else{
                    $( "#logo" ).hide()
                    $( ".menu" ).addClass( "expanded" );

                }
            $( ".menu" ).slideToggle( "slow", function() {})
          });
        });
</script>
<header>
    <div class="row">
        <div class="col">
            <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="{% static 'logo/logo.png' %}"/></a>
        </div>
        <div  class="col" style="display: flex; justify-content: end;">
            <a>
                <div class="containerburger">
                    <div class="row cf">
                        <div class="three col">
                            <div class="hamburger" id="hamburger-6">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
            
</header>
  
  <div class="menu" style="display:none;">
    <ul>
        <li class="nav-item highlight"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'home' %}">Artistlər</a></li>
        <li class="nav-item highlight"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'tracks' %}">Layihələr</a></li>
        <li class="nav-item highlight"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'store' %}">Mağaza</a></li>
        <li class="nav-item highlight"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'about' %}">Haqqımızda</a></li>
    {% if user.is_superuser %}
        <li class="nav-item highlight"><a style="color:red;" class="nav-link px-lg-3 py-3 py-lg-4" href="admin">Admin</a></li>
    {% endif %}
    </ul>
  </div> 