{% extends 'base.html'%}
{% load static %}
{% block content %}
<script type="text/javascript">
   var Winsize = function(){
       var win = $(window);
       if (win.width() <= 767 && win.width() >= 575) {
           $('.cover_img').css('width', '45px');
           $('.cover_img').css('height', '45px');
           $('.cover_img').css('top', '10px');
           $('.cover_img').css('left', '12px');
           $('.authorname').css('font-size', '10px');
           $('.card-title').css('margin-bottom', '0');
           $('.card-title').css('font-size', '0.8rem');
           $('.trackbodyarealist').css('left', '1rem');
           $('.trackbodyarealist').css('height', '4rem');
           $('.trackbodyarealist').css('top', '-0.6rem');
           $('.listplayer').css('height', '1.1rem');
           $('.listplayer').css('width', '95%');
       }
       else if (win.width() <= 575) {
           $('.cover_img').css('width', '45px');
           $('.cover_img').css('height', '45px');
           $('.cover_img').css('top', '10px');
           $('.cover_img').css('left', '12px');
           $('.authorname').css('font-size', '10px');
           $('.card-title').css('margin-bottom', '0');
           $('.card-title').css('font-size', '0.8rem');
           $('.trackbodyarealist').css('left', '1rem');
           $('.trackbodyarealist').css('height', '4rem');
           $('.trackbodyarealist').css('top', '-0.6rem');
           $('.listplayer').css('height', '1.1rem');
           $('.listplayer').css('width', '135%');
       }
       else if (win.width() >= 575) {
           $('.cover_img').css('width', '70');
           $('.cover_img').css('height', '70');
           $('.cover_img').css('top', '25');
           $('.cover_img').css('left', '30px');
           $('.authorname').css('font-size', '12px');
           $('.card-title').css('margin-bottom', '0.5');
           $('.card-title').css('font-size', '1rem');
           $('.trackbodyarealist').css('left', '3rem');
           $('.trackbodyarealist').css('height', 'auto');
           $('.trackbodyarealist').css('top', '0rem');
           $('.listplayer').css('height', '2rem');
           $('.listplayer').css('width', '90%');
       }
       }

   
       $(window).resize(Winsize);  
       $(document).ready(Winsize); 
   $(document).ready(function(){
       $('.gridbutton').click(function(){
           $('.gridcontainer').css('display', 'flex');
           $('.gridbutton').css('display', 'none');
           $('.listcontainer').css('display', 'none');
           $('.listbutton').css('display', 'flex');
       });
       $('.listbutton').click(function(){
           $('.listcontainer').css('display', 'flex');
           $('.listbutton').css('display', 'none');
           $('.gridcontainer').css('display', 'none');
           $('.gridbutton').css('display', 'flex');
       });

   });
   
</script>


{% for prof in profile%}
<div class="profcontainer">
<div class="row gutters-sm">
   <div class="col-md-3 mb-3">
      <div class="card cardtrack">
         <div class="card-body-track">
            <div class="d-flex flex-column align-items-center text-center">
               {% if prof.profile_pic %}
               <img class="rounded-circle cover_img_track" src="{{ prof.profile_pic.url }}" >
               {% else %}
               <img class="rounded-circle cover_img_track" src="{% static 'images/disc.png' %}" ><br/>
               {% endif %}
               <div class="mt-3">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-9">
      <div class="card cardtrack mb-3">
         <div class="card-body">
            <div class="row">
               <div class="col-12 profile_name">
                  {{prof.name}}
               </div>
            </div>
            {% if views or likes %}
               <div class="row">
                  <div class="col-12">
                     <div class="card statbox mb-3">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-2">
                                 <i style="height: 30;" class="fa-brands fa-youtube"></i>
                              </div>
                              <div class="col-4">
                                 {{views}} <i class="fa-solid fa-eye"></i>
                              </div>
                              <div class="col-4">
                                 {{likes}} <i class="fa-solid fa-heart"></i>
                              </div>
                              <div class="col-2">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
<div class="row gutters-sm">
   <div class="col-md-3">
      <div class="row">
         {% if prof.spotify_profile or prof.apple_music_profile or prof.youtube_profile or prof.tidal_profile or prof.amazon_profile or prof.soundcloud_profile or prof.youtube_music_profile or prof.deezer_profile or prof.qobuz_profile or prof.napster_profile or prof.yandex_music_profile%}
         <div class="col-12">
            <div class="card cardtrack listenherecard mb-3">
               <div class="card-body">
                  <div class="row">
                     <div class="col-12">
                        <h6 class="mb-0">Buradan Dinlə</h6>
                     </div>
                  </div>
                  <div class="row">
                     {% if prof.spotify_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.spotify_profile}}" target="_blank"><i class="fa-brands fa-spotify"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.apple_music_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.apple_music_profile}}" target="_blank"><i class="fa-brands fa-apple"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.youtube_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.youtube_profile}}" target="_blank"><i class="fa-brands fa-youtube"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.tidal_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon">
                           <a href="{{prof.tidal_profile}}" target="_blank">
                              <svg class="icon jsx-599705376" viewBox="0 0 24 24" style="margin: 0px 0px 0px -3.2px; fill: currentcolor; color: currentcolor; width: 2rem; height: 2rem;">
                                 <path d="M4 4 0 8l4 4 4-4-4-4zm8 0L8 8l4 4 4-4-4-4zm8 0 4 4-4 4-4-4 4-4zM8 16l4 4 4-4-4-4-4 4z"></path>
                              </svg>
                           </a>
                        </h6>
                     </div>
                     {% endif %}
                     {% if prof.amazon_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.amazon_profile}}" target="_blank"><i class="fa-brands fa-amazon"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.soundcloud_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.soundcloud_profile}}" target="_blank"><i class="fa-brands fa-soundcloud"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.youtube_music_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.youtube_music_profile}}" target="_blank"><i class="fa-regular fa-circle-play"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.deezer_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.deezer_profile}}" target="_blank"><i class="fa-brands fa-deezer"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.qobuz_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon" data-toggle="tooltip" data-bs-placement="bottom" title="Qobuz">
                           <a href="{{prof.qobuz_profile}}" target="_blank">
                              <svg class="icon jsx-599705376" viewBox="0 0 24 24" style="margin: 0px 0px 0px 0.03em; fill: currentcolor; color: currentcolor; width: 2rem; height: 2rem;">
                                 <path d="M21.744 9.815C19.836 1.261 8.393-1 3.55 6.64-.618 13.214 4 22 11.988 22c2.387 0 4.63-.83 6.394-2.304l2.252 2.252 1.224-1.224-2.252-2.253c1.983-2.407 2.823-5.586 2.138-8.656zm-3.508 7.297L16.4 15.275c-.786-.787-2.017.432-1.224 1.225L17 18.326C10.29 23.656.5 16 5.16 7.667c3.502-6.264 13.172-4.348 14.707 2.574.529 2.385-.06 4.987-1.63 6.87z"></path>
                                 <path d="M13.4 8.684a3.59 3.59 0 0 0-4.712 1.9 3.59 3.59 0 0 0 1.9 4.712 3.594 3.594 0 0 0 4.711-1.89 3.598 3.598 0 0 0-1.9-4.722zm-.737 3.591a.727.727 0 0 1-.965.384.727.727 0 0 1-.384-.965.727.727 0 0 1 .965-.384.73.73 0 0 1 .384.965z"></path>
                              </svg>
                           </a>
                        </h6>
                     </div>
                     {% endif %}
                     {% if prof.napster_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.napster_profile}}" target="_blank"><i class="fa-brands fa-napster"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.yandex_music_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.yandex_music_profile}}" target="_blank"><i class="fa-brands fa-yandex-international"></i></a></h6>
                     </div>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
         {% else %}
         <div class="col-md-3">
         </div>
         {% endif %}
         {% if prof.instagram_profile or prof.facebook_profile or prof.twitter_profile %}
         <div class="col-12">
            <div class="card cardtrack followherecard mb-3">
               <div class="card-body followherecard-body ">
                  <div class="row">
                     <div class="col-12">
                        <h6 class="mb-0">Buradan İzlə</h6>
                     </div>
                  </div>
                  <div class="row">
                     {% if prof.instagram_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.instagram_profile}}" target="_blank"><i class="fa-brands fa-instagram"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.facebook_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.facebook_profile}}" target="_blank"><i class="fa-brands fa-facebook"></i></a></h6>
                     </div>
                     {% endif %}
                     {% if prof.twitter_profile %}
                     <div class="col-3 mt-2 picondiv">
                        <h6 class="mb-0 picon"><a href="{{prof.twitter_profile}}" target="_blank"><i class="fa-brands fa-twitter"></i></a></h6>
                     </div>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
         {% else %}
         <div class="col-md-3">
         </div>
         {% endif %}
      </div>
   </div>
   <div class="col-md-9" style="color:#ffffff">
      <div class="row gutters-sm proftrackcontainer">
      {% for track in tracks %}
          <div class="card listviewprofile">
              <a href="{% url 'track' track.pk %}">
                  <div class="row">
                      <div class="col-2 col-x-2 col-sm-2 col-lg-1">
                          {% if track.cover %}
                          <img class="rounded-circle cover_img" src="{{ track.cover.url }}" >
                          {% else %}
                          <img class="rounded-circle cover_img" src="{% static 'images/disc.png' %}" ><br/>
                          {% endif %}
                      </div>
                      <div class="col-8 col-sm-10 col-lg-11">
                          <div class="card-body trackbodyarealist">
                              <h5 class="card-title">{{track.name}}</h5>
                              <h6 class="authorname">{{track.author}}</h6>
                              <audio controls controller class="listplayer" src="{{track.demo.url}}">
                              </audio>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% endfor %}
      </div>
   </div>
</div>
{% endfor %}
{% endblock content %}